# Neon PostgreSQL Database
POSTGRES_URL=YOUR_POSTGRES_URL
BLOB_STORE_ID=YOUR_ID
BLOB_READ_WRITE_TOKEN=YOUR_TOKEN
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=YOUR_EMAIL
SMTP_PASS=YOUR_PASSWORD
SMTP_FROM=YOUR_EMAIL
SMTP_SECURE=true